/*##############################################*/
/*$yellow:    #b58900;
$orange:    #cb4b16;
$red:       #dc322f;
$magenta:   #d33682;
$violet:    #6c71c4;
$blue:      #268bd2;
$cyan:      #2aa198;
$green:     #859900;*/

body {
  padding-bottom: 0px;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 300;
  font-size: 14px;
  color: #000000;
}
strong {
	font-weight: 600;
}
h1,h2,h3,h4,h5,h6 {
	font-family: "Helvetica Neue", Helvetica, sans-serif;
	font-weight: 700;
	color: #CB4B19;
	font-size: 1.75em;
}
.container{
 	margin: 0 auto;
}
@media all and (max-width: 10000px){
	h2{
		text-align: center;
	}
	.container{
		width: 100%;
	}
}
#graphic{
	margin: 0 auto;
}

.form-signin-heading{
  margin-bottom: 0px;
}

#main-cont{
  text-align: center;
  color: white;
  background: #FDF6E3;
}
#second-cont{
  text-align: center;
  color: white;
}

body {
    font-family: Verdana;
    font-size: 14px;
    color: #000000;
}
#chartdiv {
	width	: 100%;
	height	: 500px;
}
/*.amcharts-chart-div a {
	display:none !important;
}*/

#selector{
	background: #FDF6E3;
}
.chartdiv{
	font-size: 16px;
	color: #000000;
}
/*body {
  width: 100%;
  max-width: 960px;
  margin: 0 auto; 
}*/
