body {
  padding-bottom: 0px;
  background-color: #eee;
}

.form-signin-heading{
  margin-bottom: 0px;
}

#main-cont{
  text-align: center;
  color: white;
}
#second-cont{
  text-align: center;
  color: white;
}
#scroll{

}